
@{
    ViewBag.Title = "Personal Details";
}

<h2>My Personal Details</h2>

<ul>
    <li><b>Father's Name:</b> Bhuiyan</li>
    <li><b>Mother's Name</b> Nesa</li>
    <li><b>Address:</b> Bashundhara, Dhaka.</li>
    <li><b>Date of Birth:</b> 31/12/1999</li>
    <li><b>Nationality:</b> Bangladesh</li>
    <li><b>Religion:</b> Islam</li>
    <li><b>Marital Status:</b> Single</li>
</ul>
