
@{
    ViewBag.Title = "References";
}
<style>
    .bolded{
        font-weight: bold;
    }
</style>
<h2>References</h2>
<ol class="bolded">
    <li>
        Md. Nazmul Hossain<br>
        Lecturer<br>
        Department of Computer Science<br>
        American International University-Bangladesh (AIUB).<br>
        Email: <a href="mailto:nazmul@aiub.edu">nazmul@aiub.edu</a>
    </li>
    <br><li>
        Tanvir Ahmed<br>
        Lecturer<br>
        Department of Computer Science<br>
        American International University-Bangladesh (AIUB).<br>
        Email: <a href="mailto:tanvir.ahmed@aiub.edu">tanvir.ahmed@aiub.edu</a>
    </li>
</ol>

